[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.app-title {
  font-size: 45px;
  color: rgb(255, 255, 255);
}

.app-title,
.search-btn,
.wikipedia-logo {
  text-align: center;
}

body {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

body,
button {
  background-color: #0c0b0e;
}

button {
  border: 0;
  color: #b1abba;
  margin: 0;
  outline-color: transparent;
  outline-style: none;
}

button,
td {
  padding: 0;
}

.container {
  margin-top: 40px;
  text-align: center;
}

footer {
  color: #70677e;
  font-size: 8px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.hud {
  width: 100%;
}

.hud,
input,
.streams-panel,
table#display {
  width: 100%;
}

li {
  border-bottom: 1px dotted #b1abba;
  margin-left: -15px;
  padding: 5px;
  list-style-type: decimal-leading-zero;
}

input {
  color: #18161d;
}

.search-btn {
  padding: 15px 0px 15px 0px;
  width: 20%;
}

.search-btn,
.search-input {
  background-color: #18161d;
}

.search-btn-big {
  font-size: 18px;
}

.search-btn-small {
  font-size: 14px;
}

.search-input {
  border: 0;
  color: #fff;
  padding: 15px;
  width: 50%;
}

.ui-btn {
  border-bottom: 1px dotted #18161d;
  border-right: 1px solid #18161d;
  float: left;
  height: 90px;
  margin-left: 2px;
  width: 120px;
}

.wikipedia-logo {
  font-size: 50px;
}
